body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
    font-family: Arial, sans-serif;
}

.current-player-container {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.highlight {
    font-weight: bold;
    color: red;
}

.ultimate-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.board-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 3px solid #000;
    width: 200px;
    height: 200px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border: 1px solid #aaa;
    cursor: pointer;
    user-select: none;
}

.cell:hover {
    background-color: #ddd;
}

.winner {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 5rem;
    width: 100%;
    height: 100%;
    background-color: white;
}